.top-list-image {
    width: 300px !important;
    max-width: 300px !important;
    margin: 5px;
}

.top-list-rerun ul li {
    border: 0.05rem solid hsla(19.8, 100%, 62.4%, 0.5) !important;
}

.top-list-recap ul li {
    border: 0.1rem solid hsl(19.8, 100%, 50%) !important;
}

.genre-tags {
    font-size: 0.8em;
    font-style: italic;
}
